.list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}
  
.title {
  margin-top: 0;
  
  color: $main-color;
  text-align: center;
  
  // font-size: 36px;
  // font-weight: 700;
  // line-height: 1.2;


  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

