.subscribe {
  // margin-left: 93px;
  
  // width: 570px;

  // width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 0;
  }
}
  
.subscribe__title {
  margin-top: 0px;
  margin-bottom: 20px;
  
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;


  @media screen and (min-width: 1200px) {
    width: 100%;
    margin-top: 12px;
    text-align: start;
  }

}
  
.subscribe__form {
  position: relative;

  display: flex;
  flex-direction: column;
  // align-items: center;

  width: 100%;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (min-width: 1200px) {
    justify-content: start;
    flex-direction: row;
  }
}
  
.subscribe__email--input {
  width: 100%;
  height: 50px;
  
  margin-bottom: 20px;
  padding: 15px 16px;
  
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 4px;
  
  background-color: inherit;
  color: #FFFFFF;

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }

}
  
.subscribe__email--label {
  position: absolute;
  
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  
  color: rgba(255, 255, 255, 0.6);
}
  
.subscribe__button {
  position: relative;
  width: 200px;
  // display: flex;
 
  margin: 0 auto;

  &--submit {
    
    width: 100%;
    height: 50px;
    
    padding: 10px 29px;
    text-align: left;
    
    border: 0;
    border-radius: 4px;
    
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;

    color: #FFFFFF;
    background-color: $firm-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

}
  
.subscribe__svg {
  position: absolute;
  
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  
  fill: #FFFFFF;
}