.footer {
  background-color: #2F303A ;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.footer__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  &--web {
    color: $firm-color;
  }
    
  &--studio {
    color: #ffffff;
  }

  @media screen and (min-width: 1200px) {
    justify-content: start;

  }

}

.footer__contacts {
  // padding-left: 0;
}
  
.footer__address {
  width: 100%;

  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;

  color: #ffffff;

  padding: 0;
  margin-bottom: 60px;

  text-align: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
  // max-width: 231px;
  // margin-right: 70px;
}
  
.footer__contact {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
  

// .footer__contact {
//   &:not(:last-child) {
//     margin-bottom: 9px;
//   }
// }
  
.footer__mail {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  
  transition: color 250ms $cubic-bezier;

  &:hover,
  &:focus {
    color: $firm-color;
  }
}

.footer__tel {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
    
  transition: color 250ms $cubic-bezier;

  &:hover,
  &:focus{
    color: $firm-color;
  }
}

  
.footer__join {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

}

.footer__title {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;

  @media screen and (min-width: 768px) {
    margin-top: 5px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 12px;
    text-align: start;
  }
}
  
.footer__socials {
  display: flex;
  flex-basis: calc( 100% / 4 - 10px);
  margin-left: -10px;
  margin-top: 0;
  padding: 0;

  justify-content: center;}
  
.footer__social {
  margin-left: 10px;
  
  border-radius: 50%;
  
  background-color: rgba(255, 255, 255, 0.1);
}
  
.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 44px;
  height: 44px;
  
  border-radius: 50%;
  
  fill: #FFFFFF;
  
  transition: background-color 250ms $cubic-bezier;

  &:hover,
  &:focus {
    background-color: $firm-color;
  }

}
  
