.header__container {
  display: flex;
  align-items: center;

  position: relative;
}

// Лого хедера
.header__logo {
  padding: 24px 0 25px 0;

  @media screen and (min-width: 768px){
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }

  &--web {
    color: $firm-color;
  }
    
  &--studio {
    color: #000000;
  }
}
  
// Навигация
.navigation {
  display: flex;
  align-items: center;
}
  
.navigation__links {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-right: 84px;
  }
}
  
/* Cоздание эффекта подчеркивания ссылки */
.navigation__item {
  position: relative;

  /* Селектор соседа - старая версия */
  & + & {
    margin-left: 50px;
  }
}

.navigation__link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
    
  color: $main-color;
    
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
  
  transition: color 250ms $cubic-bezier;

  &:hover,
  &:focus {
    color: $firm-color;
  }
    
  &--current {
    color: $firm-color;

    &::after {
      position: absolute;
      content: "";
      display: block;
    
      width: 100%;
      height: 4px;
    
      background-color: $firm-color;
      border-radius: 2px;
    
      left: 0;
      bottom: 0;
    
      transform: translateY(17px);
    }
  }
}
  


// Контакты хедера
.contacts__list {
  display: none;
  

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    margin-left: auto;
  }
}

.contacts__item {
  :last-child {
    margin-left: 30px;
  }

  @media screen and (min-width: 768px) {
    width: 100%;

    :last-child {
      margin-left: unset;
    }
  }

  @media screen and (min-width: 1200px) {
    :last-child {
      margin-left: 50px;
    }
  }
}


.contacts__link {
  display: flex;
  height: 16px;
  
  color: $secondary-color;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
  
  transition: color 250ms $cubic-bezier;

  &:hover, 
  &:focus {
    color: $firm-color;
  }

  @media screen and (min-width: 768px) {
    &:first-child {
      margin-bottom: 10px;
    }

  }
}

.contacts__svg {
  margin-right: 10px;
  fill: $secondary-color;
  
  transition: fill 250ms $cubic-bezier;

  .contacts__link:hover &, 
  .contacts__link:focus & {
    fill: $firm-color;
  }
}
  
.menu__container {
  position: fixed;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100vw;
  height: 100vh;

  top: 0;
  left: 0;

  background-color: #ffffff;

  padding: 48px 40px;

  transform: translateX(100%);
  transition: transform 250ms $cubic-bezier;
}

.menu__container.is-open {
  transform: translateX(0);
}

.menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 40px;
  min-height: 40px;

  margin: 0;
  padding: 0;

  background-color: #ffffff;
  border: 0;

  position: absolute;
  top: 10px;
  right: 15px;

  &:hover .menu__svg--close {
    fill: $firm-color;
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu__svg-open {
  fill: #000000;

  width: 100%;
  height: 100%;
}

.menu__svg--close {
  // position: absolute;
  // top: 0;
  // right: 0;

  // width: 100px;
  // height: 100px;

  background-color: #ffffff;
  fill: $main-color;

}
  
.menu__item {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 500;

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  // &:last-child {
  //   margin-bottom: 302px;
  // }
}

.menu__link {
  text-decoration: none;

  color: $main-color;

  &:hover {
    color: $firm-color;
  }

  &--current {
    color: $firm-color;
  }
}

.menu__wrapper {
  display: flex;
  flex-direction: column;
}
  
.menu__contacts {
  // text-decoration: none;
}

.menu__contact {
  &:first-child {
    margin-bottom: 32px;
  }

  &:last-child {
    margin-bottom: 64px;
  }
}

.menu__contact--tel {
  text-decoration: none;

  font-size: 34px;
  line-height: 1.75;
  font-weight: 500;
  letter-spacing: 0.02em;

  color: $firm-color;
}

.menu__contact--mail {
  text-decoration: none;

  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;

  color: $secondary-color;
}

.menu__socials {
  display: flex;
 
}

.menu__social {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.socials__item {
  text-decoration: none;

  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;

  color: $firm-color;

}