.hero {
  background-color: #2F303A;
 
  padding-top: 118px;
  padding-bottom: 118px;
  
  max-width: 1600px;

  @media screen and (min-width: 1200px) {
    height: 600px;

    padding-top: 200px;
    padding-bottom: 200px;
  }

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  border: 1px;
  border-color: #ECECEC;
    
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;

  @media screen and (min-width: 1200px) {
    height: 600px;
  }
}
  
.hero__container {
  text-align: center;
}
  
.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
    
  color: #ffffff;
  
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.4;
  }
}
  
.hero__button {
  min-width: 200px;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  
  font-family: inherit;
  color: #ffffff;
  background-color: $firm-color;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  
  transition: color 250ms $cubic-bezier, background-color 250ms $cubic-bezier;

  &:hover,
  &:focus {
    background-color: #ffffff;
    color: $firm-color;
  }
}