.checkbox {
  position: relative;
  display: flex;
  margin-bottom: 30px;
  padding-left: 12px;
  align-items: center;
  justify-content: start;
}
  
.checkbox__input {
  position: absolute; 
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
      
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  
  display: inline-block;
  align-items: center;
}
  
.checkbox__icon {
  border: 2px solid $main-color;
  border-radius: 4px;
  
  cursor: pointer;

  & use {
    opacity: 0;
  }

  .checkbox__input:checked + & {
    border: none;  
  }

  .checkbox__input:checked + & use {
    opacity: 1;
  }
}
  
.checkbox__agree {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  
  color: $secondary-color;
  
  margin-left: 8px;
}
  
.checkbox__conditions {
  color: $firm-color;
}