/* Создание выезжающего блока с информацией */
.projects__thumb {
  position: relative;
  overflow: hidden;
}
  
.projects__card--hidden {
  position: absolute;
  display: inline-block;
  
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;
}
  
.projects__text--hidden {
  position: absolute;
  
  display: block;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 294px;
  
  margin: 0;
  padding: 63px 24px;
  
  font-size: 18px;
  line-height: 1.55;
  text-align: left;
  
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  
  transform: translateY(101%);
  transition: transform 250ms $cubic-bezier;
}