.social__list {
  display: flex;
  flex-basis: calc(100% / 4 - 10px);
  margin-left: -10px;
  
  justify-content: center;
  
  padding-bottom: 30px;
}
  
.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  
  border: 0;
  border-radius: 50%;
  
  padding: 0;
  margin-left: 10px;
  
  transition: background-color 250ms $cubic-bezier;


  &:hover, 
  &:focus {
    background-color: $firm-color;
  }
} 
  

  
.social__svg {
  fill: $icons-color;
  
  transition: fill 250ms $cubic-bezier;

  .social__link:hover &, 
  .social__link:focus & {
    fill: #ffffff;
  } 

}
  
