.team {
  // padding-top: 94px;
  // padding-bottom: 94px;

  padding-top: 60px;
  padding-bottom: 60px;
    
  background-color: $buttons-color;
}
  
.team__container {
  text-align: center;
}
  
.team__list {
  display: flex;
  flex-wrap: wrap;
  // flex-basis: calc(100% / 4 - 30px);
  // margin-left: -30px;

  @media screen and (min-width: 768px) {
    margin-top: -30px;
    margin-left: -30px;
    
  }
}
  
.team__card {
  // margin-left: 30px;
    
  // width: 100%;
  background-color: white;
  
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  padding-bottom: 24px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 30px;
    margin-left: 30px;

    &:not(:last-child) {
      margin-bottom: 0px;
    }
  }

  @media screen and (min-width: 1200px) {
    // margin-bottom: 0px; а почему так не работает?

    &:not(:last-child) {
      margin-bottom: 0px;
    }
  }
}
  
.team__title {
  // margin-bottom: 50px;
  margin-bottom: 30px;

}
  
.team__member {
  margin-top: 0;
  margin-bottom: 10px;
  
  color: $main-color;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}
  
.team__image {
  width: 450px;

  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    
  }
  
}
  
.team__skill {
  margin-top: 0;
  margin-bottom: 16px;

  // margin-bottom: 30px;
  
  color: $secondary-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}